<form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)" >
    <mat-form-field appearance="fill" >
      <mat-label>Title</mat-label>
      <input
        type="text"
        name="title"
        matInput
        required
        ngModel
        #title="ngModel"
        minlength="3"
      />
      <mat-error *ngIf="title.invalid">Please enter post title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Post text</mat-label>
      <textarea 
      matInput
      name="content"
      required
      ngModel
      #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Post error</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save</button>

  </form>
